body {
  margin: 0;
  padding: 0;
  background: url("/static/images/jeffrey-blum-7-gaPkhIgqs-unsplash.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px 20px;
  border-radius: 10px;
  color: white;
  width: 100%;
  max-width: 280px; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.5rem;
}

label, input, button {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  font-size: 0.9rem;
}

input {
  width: 80%; 
  margin: 0 auto 12px auto; 
  padding: 8px;
  border: none;
  border-radius: 5px;
  display: block;
}


button {
  width: 80%; 
  margin: 0 auto;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}


button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

